/* Estilos para el contenedor principal del encabezado */
.encabezado {
    display: flex;
    align-items: center;
    margin: 2em 1em;
}

/* Estilos para la lista de navegación en el encabezado */
.encabezado-lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
    font-size: 18px;
    margin: 0 2em;
}

/* Estilos para la primera parte del logo de AluraBank */
.encabezado__logo-inicio {
    font-family: var(--fuente-logo);
    font-size: 28px;
    font-weight: 700;
    color: var(--azul-claro);
}

/* Estilos para la última parte del logo de AluraBank (estilizada) */
.encabezado__logo-final {
    font-weight: 400;
    font-style: italic;
}

/* Estilos para la barra de búsqueda en el encabezado */
.encabezado__buscar {
    border: 2px solid #2f2f2f;
    border-radius: 20px;
    padding: .7em 1em;
    width: 20vw;
    outline: none;
}

/* Estilos para el texto de marcador de posición y el icono de búsqueda */
.encabezado__buscar::placeholder {
    font-size: 18px;
    background: url("../img/icon_buscar.png") no-repeat 95% center;
}

/* Estilos base para los enlaces dentro de los ítems de la lista del encabezado */
.encabezado-lista__item a {
    text-decoration: none;
}

/* Estilos para los enlaces de navegación generales */
.encabezado-lista__link {
    color: var(--black);
}

/* Estilos base para los botones en la lista del encabezado */
.encabezado-lista__item-boton {
    font-weight: 600;
    border-radius: 20px;
    padding: .5em 1em;
    color: var(--azul-claro);
    border: var(--azul-claro) 2px solid;
}

/* Modificador de estilo para un botón azul específico */
.encabezado-lista__item-boton--azul {
    background-color: var(--azul-claro);
    color: var(--white);
}

/* Media Queries para Tablets (768px)*/
@media screen and (max-width: 768px) {
    .encabezado {
        margin: 1.5em 0.5em;
        justify-content: space-between;
    }

    .encabezado-lista {
        flex-basis: auto;
        margin: 0;
        justify-content: flex-end;
        gap: 0.5em;
    }

    /* Oculta los ítems de navegación "Sobre" y "Servicios" */
    .encabezado-lista__item:nth-child(1),
    .encabezado-lista__item:nth-child(2) {
        display: none;
    }

    /* Oculta la barra de búsqueda */
    .encabezado__buscar {
        display: none;
    }

    /* Ajusta el tamaño de los botones para tablets  */
    .encabezado-lista__item-boton {
        font-size: 16px;
        padding: 0.4em 0.8em;/
    }
}

/* Media Queries para Móviles (480px)  */
@media screen and (max-width: 480px) {
    .encabezado {
        margin: 1em 0.5em;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }

    .encabezado__logo-inicio {
        font-size: 24px;
    }

    .encabezado-lista {
        width: 100%;
        justify-content: center;
        gap: 0.8em;
        margin-top: 0.5em;
    }

    .encabezado-lista__item-boton {
        font-size: 14px;
        padding: 0.3em 0.6em;
    }
}