/* Importa estilos específicos para el encabezado */
@import url('./header.css');
/* Importa estilos específicos para el pie de página */
@import url('./footer.css');

/* Variables CSS para colores y fuentes reutilizables */
:root {
    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-logo: 'Inter', sans-serif;
    --azul-claro: #6BD1FF;
    --black: #000000;
    --white: #FFFFFF;
}

/* Estilos base para el cuerpo del documento */
body {
    font-family: var(--fuente-principal);
    color: var(--black);
    font-size: 16px;
}

/* Estilo para el enlace del logo en el encabezado */
.encabezado__logo-link {
    text-decoration: none;
}